<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Option 1: Include in HTML -->
    <script src="https://kit.fontawesome.com/c217f13c76.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css.css">

    <title>Hello, world!</title>
</head>

<body>
    <header class="d-flex position-relative">
        <!-- <img id="web-bg" src="bg.png" alt="" class="img-fluid position-absolute">
        <img id="ph-bg" src="bg-phone.jpg" alt="" class="img-fluid position-relative">
         -->

        <img id="web" src="./assets/main-bg.jpg" class="img-fluid">
        <nav class="navbar navbar-expand-lg bg-black text-uppercase fw-bold position-absolute">
            <div class="container">
                <a class="navbar-brand " href="#">LOGO</a>
                <button class="navbar-toggler navbar-light bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0  fw-light ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">about me</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                      <a class="nav-link" href="#">login</a>
                  </span>
                    <span class="navbar-text">
                      <a class="nav-link" href="#">sign up</a>
                  </span>
                </div>
            </div>
        </nav>

        <div id="depan" class="position-absolute">
            <h1 class="text-uppercase ">
                play tradition game
            </h1>
            <h4>
                Experience new traditional game play
            </h4>
            <button type="button" class="btn btn-warning text-uppercase text-black fw-bold mt-5 mb-5 w-25"> play now</button>
            <a class="nav-link text-white text-uppercase mt-5" href="#">the story</a>
            <img src="./assets/scroll-down.svg" alt="scroll-down">
        </div>


    </header>



    <aside id="content2" class="d-flex position-relative">
        <img src="./assets/the-games-bg.jpg" class="img-fluid">
        <div class="container justify-content-center position-absolute">
            <div class="row">
                <div class="col-4 ">
                    <span><p>What's so the special?</p></span>
                    <span class="text-uppercase ">the games</span>
                </div>
                <div class="col-6 offset-1 position-relative d-flex align-items-center justify-content-center ">
                    <img src="assets/switch-left.svg" class="img-fluid">
                    <img id="games" src="./assets/gunting.jpg" class="img-fluid">
                    <img src="assets/switch-right.svg" class="img-fluid">
                    <div id="slider" class="d-flex position-absolute ">
                        <img src="./assets/ellipse.svg">
                        <img src="./assets/ellipse-outline.svg">
                        <img src="./assets/ellipse-outline.svg">
                        <img src="./assets/ellipse-outline.svg">
                        <img src="./assets/ellipse-outline.svg">
                    </div>
                </div>
            </div>
        </div>
    </aside>


    <aside id="content3" class="d-flex position-relative">
        <img src="./assets/features.jpg" class="img-fluid">
        <div id="feature" class="position-absolute">
            <h5>What's so the special?</h5>
            <h1 class=text-uppercase>features</h1>
            <div class="d-flex flex-row">
                <div class="roadmap">
                    <img src="./assets/ellipse.svg" class="circle">
                    <div class="v-line"></div>
                    <img src="./assets/ellipse-outline.svg" class="circle1">
                    <img src="./assets/ellipse-outline.svg" class="circle1 mt-2">
                    <img src="./assets/ellipse-outline.svg" class="circle2 mt-2">
                </div>
                <div class="roadmap-title-container">
                    <p class="roadmap-title">TRADITIONAL GAMES</p>
                    <p class="flex-wrap roadmap-subtitle">If you miss tour childhood, we provide many traditional games here</p>
                    <p class="roadmap-title mt-4">GAME SUIT</p>
                    <p class="roadmap-title mt-4">TBD</p>
                </div>
            </div>
        </div>
    </aside>

    <aside id="content4" class="d-flex position-relative">
        <img src="./assets/requirements.png" class="img-fluid">
        <h6 class="text-white justify-content-center align-items-center d-flex position-absolute w-100">can my computer run this game?</h6>
        <div id="system" class="position-absolute">
            <h1>system requirement</h1>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <span>os</span>
                        <p>Windows 7 64-bit only (No OSX support at this time) </p>
                    </td>
                    <td>
                        <span>os</span>
                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>os</span>
                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                    </td>
                    <td>
                        <span>os</span>
                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>os</span>
                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </aside>

    <aside id="content5" class="position-relative">
        <img src="./assets/top-score-bg.png" class="img-fluid">
        <div id="score" class="position-absolute">
            <div class="container d-flex justify-content-between w-100">
                <div class="row">
                    <div class="col-4 text-white">
                        <img src="/assets/skull.png">
                    </div>
                    <div class="col-5 text-white">apapap</div>
                </div>
            </div>
        </div>
    </aside>

    <div class="d-flex position-relative">
        <img src="./assets/newsletter.png" class="img-fluid">
        <div id="footer-content" class="position-absolute">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="./assets/skull.png" class="img-fluid">
                    </div>
                    <div class="col  text-white fw-400">
                        <h4>Want to stay in</br> touch?</h3>
                            <h1>newsletter</br>subscribe</h1>
                            <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                            <form class="form-inline d-flex">
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="inputPassword2" class="sr-only">Password</label>
                                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-warning mb-2">Confirm identity</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact" class="d-flex position-absolute ">
            <div class="container  ">
                <a href="">main</a>
                <a href="">about</a>
                <a href="">game features</a>
                <a href="">system requirement</a>
                <a href="">quotes</a>
                <a href=""><img src="./assets/facebook.svg"></a>
                <a href=""><img src="twitter.svg"></a>
                <a href=""><img src="./assets/vector.svg"></a>
                <a href=""><img src="./assets/twitch.svg"></a>
            </div>
        </div>
        <footer>

        </footer>
    </div>







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>